* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*Media Queries*/
/*Set the media query for mobile*/
@media only screen and (max-width: 400px){
	/*CSS rules for mobiles only*/
	#profile{
		background-color: indianred;
	}
}
/*Set the media query for tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	#profile{
		background-color: seagreen;
	}
}
/*Set the media query for desktop*/
@media only screen and (min-width: 961px){
	#profile {
		background-color: blue;
	}

}